# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.DS_Store
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app/icon.png/route.js
.next/server/app/page.js
.next/server/app/page_client-reference-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/vendor-chunks/@radix-ui.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/class-variance-authority.js
.next/server/vendor-chunks/clsx.js
.next/server/vendor-chunks/framer-motion.js
.next/server/vendor-chunks/lucide-react.js
.next/server/vendor-chunks/motion-dom.js
.next/server/vendor-chunks/motion-utils.js
.next/server/vendor-chunks/motion.js
.next/server/vendor-chunks/next-themes.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/qrcode.react.js
.next/server/vendor-chunks/react-icons.js
.next/server/vendor-chunks/styled-jsx.js
.next/server/vendor-chunks/tailwind-merge.js
.next/server/webpack-runtime.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/chunks/main-app.js
.next/static/chunks/webpack.js
.next/static/css/app/layout.css
.next/static/webpack/app/layout.f7c7cf878908eeb6.hot-update.js
.next/static/webpack/f7c7cf878908eeb6.webpack.hot-update.json
.next/static/webpack/webpack.f7c7cf878908eeb6.hot-update.js
.next/trace
.next/types/app/layout.ts
.next/types/app/page.ts
components/certifications.tsx
components/experience.tsx
components/projects.tsx
components/skills.tsx
package-lock.json
